version: '2'
services:
  tj-db:
    image: postgres:12
    container_name: "tj-db"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: tj
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: tj
    volumes:
      - /docker_data/tj/pg_data:/var/lib/postgresql/data
    networks:
      - tj-network

  tj-server:
    container_name: "tj-server"
    image: carldu/tiny-journey:2.0
    depends_on:
      - tj-db
    expose:
      - "5050"
      - "8010"
      - "8012"
      - "8014"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - /docker_data/tj/server/appsettings.json:/app/appsettings.json
      - /docker_data/tj/server/logs:/app/log
      - /docker_data/tj/server/storage:/app/storage
    networks:
      - tj-network

  tj-caddy:
    container_name: "tj-caddy"
    image: caddy:2
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /docker_data/tj/caddy/Caddyfile:/etc/caddy/Caddyfile
      - /docker_data/tj/caddy/data:/data
      - /docker_data/tj/caddy/config:/config
    networks:
      - tj-network
      
  tj-redis:
    container_name: "tj-redis"
    image: redis:latest
    links:
      - tj-server
    ports:
      - "6379:6379"
    networks:
      - tj-network
    
networks:
  tj-network:
    driver: bridge