version: '2'
services:
  tj-db:
    image: postgres:12
    container_name: "tj-db"
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: tj
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: tj
    volumes:
      - /docker_data/tj/pg_data:/var/lib/postgresql/data
    networks:
      - tj-network

  tj-server:
    container_name: "tj-server"
    image: carldu/tiny-journey:latest
    links:
      - tj-db
    ports:
      - "5050:5050"
      - "8010:8010"
      - "8012:8012"
      - "8014:8014"
    environment:
      TZ: Asia/Shanghai
    volumes:
      - /docker_data/tj/server/appsettings.json:/app/appsettings.json
      - /docker_data/tj/server/logs:/app/log
      - /docker_data/tj/server/storage:/app/storage
    networks:
      - tj-network
      
networks:
  tj-network:
    driver: bridge